<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @district_course.name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @district_course.subject_id %>
</p>

<p>
  <strong>District:</strong>
  <%= @district_course.district_id %>
</p>

<p>
  <strong>State course:</strong>
  <%= @district_course.state_course_id %>
</p>

<%= link_to 'Edit', edit_district_course_path(@district_course) %> |
<%= link_to 'Back', district_courses_path %>
